@import "tailwindcss";

@theme {
  --color-brand: #E50914;
}

body {
  @apply bg-[#141414] text-white;
}

/* Hide scrollbar for clean horizontal scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
